@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap');

body{
    font-family: 'Oswald', sans-serif;
    background-color: rgb(28, 2, 2);
    color: white;
}

.card-style {
    box-shadow: 3px 5px 10px #731bbb;
    display: flex;
    justify-content: center;
    align-items: center;
    float: left;
    background-color: #5719bb;
}

.card-style .card {
    float: left; 
    
}

.card-style img {
    border-radius: 4px 4px 0 0;
    width: 220px;
    background-color: rgb(45, 2, 85);
}